/* ESTILOP GERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 37px 4%;
}

.flex {
    display: flex;
}

.btn-blue {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 300;
    background-color: #1361F5;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #033aa1;
}


.btn-white {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 300;
    background-color: white;
    color: #1361F5;
    border: 1px solid #55555586;
    border-radius: 5px;
    cursor: pointer;
}

.btn-white:hover {
    background-color: #1361F5;
    color: white;
}

.titulo-black {
    font-size: 32px;
}

.Paragrafo-padrao {
    font-size: 18px;
    color: #223140;
    font-weight: 400;
    line-height: 30px;
}

.titulo-blue {
    color: #094BCA;
    font-size: 24px;
}

/*ESTILO DO HEADER*/

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo a {
    font-family: "Secular One", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: #1D1D1D;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}

header nav ul li a {
    color: #1D1D1D;
    text-decoration: none;
}

.btn-get-startd-now {
    display: flex;
}

.btn-get-startd-now .login {
    padding: 10px 20px;
}

.btn-get-startd-now .login a {
    color: #1361F5;
    text-decoration: none;
}

/*TOPO DO SITE*/
.txt-topo-site .txt-titulo h1 {
    font-size: 50px;
    line-height: 50px;
}

.txt-topo-site .txt-titulo {
    padding: 40px 1%;
}

.txt-topo-site .txt-titulo p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 25px;
}

.txt-topo-site .btn {
    padding: 10px 1%;

}

.txt-topo-site .btn {
    display: flex;
    gap: 15px;
}

/*BENEFITS*/
.benefits .component {
    box-shadow: 0px 0px 8px #5355584f;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 20px 30px 10px 15px;
}

.benefits .component h1 {
    font-size: 24px;
    color: #223140;
}

.benefits .component p {
    color: #535558;
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
}

.benefits .icon {
    background-color: #eed4987a;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 15px;
    text-align: center;
}

.benefits .icon i {
    color: #dfa727;
    font-size: 25px;
    text-align: center;
    line-height: 45px
}

.benefits .box-text {
    display: flex;
    gap: 20px;
}

/*Features*/
.txt-features {
    text-align: center;
    justify-content: center;
}

.txt-features h2 {
    margin-top: 40px;
}

.txt-features p {
    margin-top: 40px;
    margin-bottom: 80px;
}

.txt-container {
    width: 50%;
}

.txt-container h2 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.txt-container p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.img-features img {
    justify-content: center;
    text-align: center;
    width: 90%;
}

.img-features {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container {
    display: flex;
}

.Features .flex {
    margin-top: 50px;
}