/* ESTILOP GERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 37px 4%;
}

.flex {
    display: flex;
}

.btn-blue {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 300;
    background-color: #1361F5;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #033aa1;
}


.btn-white {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 300;
    background-color: white;
    color: #1361F5;
    border: 1px solid #55555586;
    border-radius: 5px;
    cursor: pointer;
}

.btn-white:hover {
    background-color: #1361F5;
    color: white;
}

.titulo-black {
    font-size: 32px;
}

.Paragrafo-padrao {
    font-size: 18px;
    color: #223140;
    font-weight: 400;
    line-height: 30px;
}

.titulo-blue {
    color: #094BCA;
    font-size: 24px;
}

/*ESTILO DO HEADER*/

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo a {
    font-family: "Secular One", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: #1D1D1D;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}

header nav ul li a {
    color: #1D1D1D;
    text-decoration: none;
}

.btn-get-startd-now {
    display: flex;
}

.btn-get-startd-now .login {
    padding: 10px 20px;
}

.btn-get-startd-now .login a {
    color: #1361F5;
    text-decoration: none;
}

/*TOPO DO SITE*/
.txt-topo-site .txt-titulo h1 {
    font-size: 50px;
    line-height: 50px;
}

.txt-topo-site .txt-titulo {
    padding: 40px 1%;
}

.txt-topo-site .txt-titulo p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 25px;
}

.txt-topo-site .btn {
    padding: 10px 1%;

}

.txt-topo-site .btn {
    display: flex;
    gap: 15px;
}

/*BENEFITS*/
.benefits .component {
    box-shadow: 0px 0px 8px #5355584f;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 20px 30px 10px 15px;
}

.benefits .component h1 {
    font-size: 24px;
    color: #223140;
}

.benefits .component p {
    color: #535558;
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
}

.benefits .icon {
    background-color: #eed4987a;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 15px;
    text-align: center;
}

.benefits .icon i {
    color: #dfa727;
    font-size: 25px;
    text-align: center;
    line-height: 45px
}

.benefits .box-text {
    display: flex;
    gap: 20px;
}

/*Features*/
.txt-features {
    text-align: center;
    justify-content: center;
}

.txt-features h2 {
    margin-top: 40px;
}

.txt-features p {
    margin-top: 40px;
    margin-bottom: 80px;
}

.txt-container {
    width: 50%;
}

.txt-container h2 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.txt-container p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.img-features img {
    justify-content: center;
    text-align: center;
    width: 90%;
}

.img-features {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container {
    display: flex;
}

.Features .flex {
    margin-top: 50px;
}

/*Integrations*/

.Integrations .fundo {
    background-color: #d9d9d928;
}

.fundo-integrations {
    width: 100vh;
    height: auto;
}

.fundo-integrations .txt-container {
    justify-content: center;
    margin-top: 110px;
}

/*Customers*/
.txt-texto {
    text-align: center;
    justify-content: center;
}

.txt-texto p {
    margin-top: 35px;
}

.card {
    margin-top: 120px;
    box-shadow: 0px 0px 8px #5355584f;
    border-radius: 10px;
    width: 378px;
    height: 328px;
    position: relative;
}

.container-card {
    display: flex;
    gap: 20px;
}

.avatar-container {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
}

.card-content {
    padding: 82px 30px 42px;
    text-align: center;
}

.card-content p {
    font-size: 14px;
    color: #535558;
}

.card-content h2 {
    font-size: 24px;
    color: #D9D9D9;
    padding-top: 40px;
}

.card-content h3 {
    font-size: 18px;
    padding-top: 40px;
}

/*Awards*/
.awards .flex {
    justify-content: center;
    padding: 40px;
    gap: 80px;
}

.txt-awards {
    text-align: center;
}

.txt-awards h1 {
    color: #1361F5;
}

/*Call TO*/
.call_to {
    background-color: #d9d9d928;
}

.call_to .txt-texto {
    padding: 0 100px;
}

.call_to .txt-texto p {
    font-size: 16px;
    padding-bottom: 65px;
}

/*Resources_block*/
.Resources_block h1 {
    text-align: center;
}

.Resources_block .img_resource img {
    border-radius: 20px 20px 0 0;
}

.card_resource {
    margin-top: 50px;
    box-shadow: 0px 0px 8px #5355584f;
    border-radius: 20px;
    width: 380px;
    height: 348px;
}

.resources_content {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-resource {
    padding: 10px 20px;
}

.btn-resource .btn_style {
    background-color: #b6cffde3;
    color: #004CE6;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
}

.txt-resource {
    padding: 10px 20px;
}

.txt-resource .btn_style {
    margin-top: 10px;
    border: 0;
    background-color: white;
    color: #004CE6;
    font-size: 16px;
    font-weight: 600;
}

/*Footer*/
footer {
    background-color: #d9d9d928;
}

footer .flex {
    justify-content: space-around;
}

.social h2 {
    font-family: "Secular One", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-social {
    color: #004CE6;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.social p {
    font-size: 16px;
    color: #535558;
    line-height: 25px;
}

.Menu-footer h3, .footer-blog h3 {
    margin-bottom: 30px;
}

.Menu-footer {
    display: flex;
    flex-direction: column;
}

.Menu-footer a {
    text-decoration: none;
    line-height: 2em;
    color: #535558cc;
}

.Menu-footer a:hover {
    color: black;
}

.footer-card {
    margin-top: 10px;
    display: flex;
    box-shadow: 0px 0px 8px #5355584f;
    border-radius: 10px;
}

.footer-card {
    width: 370px;
    height: 105px;
}

.footer-card .content {
    padding: 15px 0px 0px 20px;
}

.footer-blog .content p {
    font-size: 15px;
    color: #535558;
    line-height: 25px;
}

.footer-card h3 {
    margin-top: 13px;
    color: #004CE6;
    font-size: 16px;
}